In [1]:
x = 20151125

In [122]:
def get_next(x):
    return (x * 252533) % 33554393

In [27]:
dtype = [('x', 'int'), ('y', 'int')]

In [33]:
cc

array([], shape=(0, 2), dtype=float64)

In [59]:
data = np.array([[1, 1]])

In [60]:
data

array([[1, 1]])

In [69]:
for i in range(2, 3020):
    a = list(range(1, i + 1))
    b = a[::-1]
    cc = np.array([a, b]).transpose()
    data = np.concatenate([data, cc])

In [107]:
data = np.array([[1, 1]])
i = 2
while data[(data[:, 0] == 3010) & (data[:, 1] == 3019)].shape[0] < 1:
    a = list(range(1, i + 1))
    b = a[::-1]
    cc = np.array([a, b]).transpose()
    data = np.concatenate([data, cc])
    i += 1

In [108]:
data.shape

(18171406, 2)

In [114]:
np.where(data[:, 0] == 3010) & (data[:, 1] == 3019)

ValueError: operands could not be broadcast together with shapes (1,3019) (18171406,)

In [116]:
data.shape

(18171406, 2)

In [119]:
indices = np.where((data[:, 0] == 3010) & (data[:, 1] == 3019))

In [120]:
indices

(array([18168387], dtype=int64),)

In [136]:
aa = pd.DataFrame(data)

In [138]:
aa[aa.index ==18168387]

             0     1
18168387  3010  3019

In [144]:
list1 = [20151125]
x = 20151125
for i in range(1816400):
    next_value = get_next(x)
    list1.append(next_value)
    x = next_value

In [143]:
def next_code(cur_code):
	return (cur_code * 252533) % 33554393

def get_code_count(row, column):
	return sum(range(row + column - 1)) + column

first_code = 20151125
code_coords = (3010, 3019)

code_count = get_code_count(*code_coords)
print(code_count)
cur_code = first_code
for i in range(code_count - 1):
	cur_code = next_code(cur_code)
print(cur_code)

18168397
8997277

In [ ]:
18168387