In [25]:
import pandas as pd
import re

In [24]:
with open('input16.txt', "r") as file:
        text = file.read().strip().split('\n')
text[:5]

['Sue 1: children: 1, cars: 8, vizslas: 7',
 'Sue 2: akitas: 10, perfumes: 10, children: 5',
 'Sue 3: cars: 5, pomeranians: 4, vizslas: 1',
 'Sue 4: goldfish: 5, children: 8, perfumes: 3',
 'Sue 5: vizslas: 2, akitas: 7, perfumes: 6']

In [31]:
df = pd.DataFrame()
for line in text:

    # Regex to find key-value pairs
    pattern = r'(\w+): (\d+)'
    # Extract key-value pairs as tuples
    matches = re.findall(pattern, line)
    # Convert list of tuples into a dictionary
    result_dict = {key: int(value) for key, value in matches}
    df = pd.concat([df, pd.DataFrame([result_dict])])
df.reset_index(inplace=True)
df.head()

,index,children,cars,vizslas,akitas,perfumes,pomeranians,goldfish,cats,trees,samoyeds
0,0,1.0,8.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0,5.0,NaN,NaN,10.0,10.0,NaN,NaN,NaN,NaN,NaN
2,0,NaN,5.0,1.0,NaN,NaN,4.0,NaN,NaN,NaN,NaN
3,0,8.0,NaN,NaN,NaN,3.0,NaN,5.0,NaN,NaN,NaN
4,0,NaN,NaN,2.0,7.0,6.0,NaN,NaN,NaN,NaN,NaN

In [42]:
result_query = df[((df['children']==3) | df['children'].isna()) &
    ((df['cats']==7) | df['cats'].isna()) &
   ((df['samoyeds']==2) | df['samoyeds'].isna()) &
    ((df['pomeranians']==3) | df['pomeranians'].isna()) &
    ((df['akitas']==0) | df['akitas'].isna()) &
    ((df['vizslas']==0) | df['vizslas'].isna()) &
    ((df['goldfish']==5) | df['goldfish'].isna()) &
    ((df['trees']==3) | df['trees'].isna()) &
    ((df['cars']==2) | df['cars'].isna()) &
    ((df['goldfish']==5) | df['goldfish'].isna()) &
    ((df['perfumes']==1) | df['perfumes'].isna())
    ]

In [47]:
(result_query.index + 1).values[0]

213

In [69]:
# Part 2
result_query = df[
   ((df['children']==3) | df['children'].isna()) &
    ((df['cats'] > 7) | df['cats'].isna()) &
   ((df['samoyeds']==2) | df['samoyeds'].isna()) &
    ((df['pomeranians'] == 3) | df['pomeranians'].isna()) &
    ((df['akitas']==0) | df['akitas'].isna()) &
    ((df['vizslas']==0) | df['vizslas'].isna()) &
    ((df['goldfish'] < 5) | df['goldfish'].isna()) &
    ((df['trees'] > 3) | df['trees'].isna()) &
    ((df['cars']==2) | df['cars'].isna()) &
    ((df['perfumes']==1) | df['perfumes'].isna())
    ]

In [73]:
result_query.index[0] + 1

323